<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <h1>#helloworld</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Button does nothing</a></p>
    </div>
  </div>

  <script src="/javascript/main.js"></script>
</body>
</html>
